{% extends 'base.html.twig' %}
{% block body %}

{% for message in app.flashes('notice') %}
   <div class="alert alert-success">
    {{ message }}
   </div>
{% endfor %}
<div class="container">
<div class="row">
           {% for todo in todos %}
           <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
            <div class="card shadow-lg" style="width: 18rem;">
            <img src="{{todo.image}}" class="card-img-height">
            <div class="card-body">
               <h5 class="card-title">{{todo.name}}</h5>
               <p class="card-text">{{todo.description}}</p>
               <p class="card-text">{{todo.date|date('j F Y, g:i a') }}</p>
               <a href="/details/{{todo.id}}" class="btn btn-success">Details</a>
            </div>
            </div>
            </div>
           {% endfor %}
           </div>
           </div>
{% endblock %}